{%extends "layout.html"%}
{%block content%}
<div class="commonContainer">
    <h1>About PyilteApp</h1>
    <h3>Summary Information</h3>
    <p>
        Project Name: <strong>PyilteApp</strong><br/>
        Project initial date: <strong>20 October 2017</strong><br/>
        Founder/Developer: <strong>Amos Munezero</strong><br/>
        Contributors: <strong>Nil</strong>
    </p>
    <p>
        PyilteApp - Python Image Load Transform Extract App- Is a software currently in initial phase and under development
        to facilite faster and efficient processing of images. In many image recognition research and applications,
        images are often raw and not ready for most of the image recognition and machine learning algorithms and
        therefore require some pre-processing and features extraction. In the future, this software will users to label images and
        store the labels into the database. There will also be a reporting functionality which allows users to extract specific information
        about images, e.g display all kangaroo images or extract image meta data including class labels and export to csv file.
        Other future integration include using extract features from images and save the image feature vector into a database or csv file.
    </p>
</div>
{%endblock%}
