{%extends "layout.html"%}
{%block content%}
<div class="commonContainer">
    <h1>PyilteApp technical documentation</h1>
    <h2 align="center">Feature extractions</h2>
    <div>
        <p><strong>LBP</strong></p>

        <P><strong>SURF</strong></P>
        The SURF detection and feature extraction in our application is based on openCV. The
        <a href="https://docs.opencv.org/3.2.0/d5/df7/classcv_1_1xfeatures2d_1_1SURF.html" target="_blank">link</a> provides more details on how to set the parameters

        <p><strong>SIFT</strong></p>
        The SIFT detection and feature extraction in our application is based on openCV. The
        <a href="https://docs.opencv.org/3.2.0/d5/d3c/classcv_1_1xfeatures2d_1_1SIFT.html" target="_blank">link</a> provides more details on how to set the parameters

        <p></p><strong>HOG</strong></p>
        The HOG detection and feature extraction in our application is based on openCV. The
        <a href="https://docs.opencv.org/3.2.0/d5/d33/structcv_1_1HOGDescriptor.html" target="_blank">link</a> provides more details on how to set the parameters

        <p><strong>Color histogram</strong></p>
    </div>
</div>
{%endblock%}
