{%extends "layout.html"%}
{%block content%}
<div class="commonContainer">
<h1>Welcome to PyilteApp</h1>
<hr />
    PyilteApp - Python Image Load Transform Extract App- Is a software currently in initial phase and under development to facilite faster and efficient
    processing of images. In many image recognition research and applications, images are often raw and not ready for most of the image recognition and
    machine learning algorithms and therefore require some pre-processing and features extraction.

    In the future, this software will users to label images and store the labels into the database. There will also be a reporting functionality which allows users to extract specific information about images, e.g display all kangaroo images or extract image meta data including class labels and export to csv file.
    Other future integration include using extract features from images and save the image feature vector into a database or csv file.

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <h3>Select Image transformation/processing function</h3>
    <table class="tableStyle">
        <tr><th>Basic image transformations</th><th>Image feature detection</th></tr>
        <tr>
            <td>
                <input type="radio" id="grayscale" name="processingType" value="grayscale" checked> <label for="grayscale">Grayscale</label>
                <br /><input type="radio" id="grayscaledHist" name="processingType" value="grayscaledHistEq">  <label for="grayscaledHist">Histogram Equalization (Grayscale)</label>
                <br /><input type="radio" id="colorHist" name="processingType" value="colorHistEq"><label for="colorHist">Histogram Equalization (Color)</label>
            </td>
            <td>
                <input type="radio" id="siftFeatures" name="processingType" value="siftFeatures"><label for="siftFeatures">SIFT Features</label>
                <br /><input type="radio" id="surfFeatures" name="processingType" value="surfFeatures"><label for="surfFeatures">SURF Features</label>
                <br /><input type="radio" id="cannyDetector" name="processingType" value="cannyDetector"><label for="cannyDetector">Canny Edge Detection</label>
            </td>
        </tr>
    </table>

    <!--<strong>Files:</strong><br />-->
    <h3>Select files OR drag them into the box below.</h3>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple><p>

    <div id="dropbox">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload!" id="upload-button" class="button buttonStyled">
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
</div>
{%endblock%}